<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>About the Data</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='softwaredesign.css') }}" >
        <link rel="secondstyle" href="nonhomepage.css">
    </head>
    <body class="nothome">
        <div class=tabs>
            <a href="/">Home</a>
            <a href="/data" class="urhere"> &#9758 About the data</a>
            <a href="/">New Search</a>
        </div>
        <div class="bg"></div>
        <h1> About the Data </h1>
        <div class="aboutcontent"> 
                 <p> The data we used for WeeeReads was kindly provided by GitHub user zygmuntz. 
                    All of their information was pulled from the "Goodreads" website in 2017.
                    Their dataset was uploaded under the Creative Commons Attribution-ShareAlike 4.0 International License. 
                    Thanks to their willingness to share their data, WeeeReads offers you access to 10,000 books and the data from 53,424 users.

                </p>
                <p>
                    Given that 2017 was the last time their database was updated, there are no books included beyond those written before 2017.
                    We have decided as of right now that we need not alter their data, and will be using it as is. 
                </p>
        </div>
    </body>
</html>
