<!DOCTYPE html>
<html lang="eng">
    <meta charset="utf-8">
    <!--link to css file!-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='softwaredesign.css') }}" />
    <head>
        
        <title>Select your books</title>
    </head>
    <body class="nothome", onload="createChx('{{ potentialBook1s }}')">
        <div class=tabs>
            <a href="/">Home</a>
            <a href="/results" class="urhere">&#9758 My Shelf</a>
            <a href="/data"> About the data</a>
        </div>
        <h1>WeeeRead</h1>
        <h2>Find your next favorite books</h2>
        <h3 class="pagetitle">Some titles are used by multiple books; please select the books you intended: </h3>
        <form action="/results.html">
            <div class="findbooks", id="container">
            <br>
            <br>
<!-- So! The second version (the for loop for book2s) is what Emily and I did Tuesday morning. The first for loop (the one for book2s) is leftover from all the shit I (Evan) tried Tuesday evening. Neither work. Also it's onclick instead of onload right now so I could test things. Unfortunately testing proved infuriating and nothing works still. Hopefully Amy will answer our email soon? -->
<!--
              {% for book in book1s %}
                  <label for="name"><i>{{ book.title }}</i>, by {{ book.author }}</label><br>
                  <input type="checkbox" name=book.bookID onclick="createChx('{{ book.title }}', '{{ book.author }}', '{{ book.bookID }}')"><br>
                <p id="container"> </p>
                
              {% endfor %}
-->
                <br>
<!--
              {% for book in book2s %}
                  <script>createChx(book.title, book.author, book.bookID)</script>
                  <label for="name"><i>{{ book.title }}</i>, by {{ book.author }}</label><br>
                  <input type="checkbox" name=book.optionNum><br>
              {% endfor %}
              
-->
                <div class="shelf">
                    <input type="submit" value="See my shelf">
                </div>
            </div>
        </form>
        <form action="/">
    		<button type="submit">New Search</button>
		</form>
    </body>
    <script>
        function createChx(potentialBooks) {
            var numBooks = potentialBooks.length();
            for (int i = 0; i < numBooks; i++){
                var title = potentialBooks[i][0];
                var author = potentialBooks[i][1];
                var bookID = potentialBooks[i][2];
                var chk = document.createElement('input');  // CREATE CHECK BOX.
                chk.setAttribute('type', 'checkbox');       // SPECIFY THE TYPE OF ELEMENT.
                chk.setAttribute('id', bookID);     // SET UNIQUE ID.
                chk.setAttribute('value', bookID);
                chk.setAttribute('name', bookID);
                console.log(title);
                console.log(author);
                console.log(bookID);


                var lbl = document.createElement('label');  // CREATE LABEL.
                lbl.setAttribute('for', bookID);

                // CREATE A TEXT NODE AND APPEND IT TO THE LABEL.
                lbl.appendChild(document.createTextNode(title+", by "+author));

                // APPEND THE NEWLY CREATED CHECKBOX AND LABEL TO THE <p> ELEMENT.
                container.appendChild(chk);
                container.appendChild(lbl);
                document.getElementById(bookID).focus();
                console.log(chk);
                console.log(lbl);
            }

            }
        </script>
</html>
