<!DOCTYPE html>
<html lang="eng">
    <meta charset="utf-8">
    <!--link to css file!-->
    <link rel="stylesheet" href="softwaredesign.css">
    <head>
        <title>Your Recommendations</title>
    </head>
    <body class="nothome">
        <div class=tabs>
            <a href="homepage.html">Home</a>
            <a href="results.html" class="urhere">&#9758 My Shelf</a>
            <a href="data.html"> About the data</a>
        </div>
        <h1>WeeeRead</h1>
        <h2>Find your next favorite books</h2>
        <h3 class="pagetitle">Here's your shelf of recommendations: </h3>
        <form>
            <div class="findbooks">
              <!-- how many checkboxes do we make? How do we make multiple? How do we get our information into our checkbox names? -->
            <p> Which books did you mean? </p>

              {% for book in books %}
                  <tr><td><i>{{ book.title }}</i></td>, by <td>{{ book.author }}</td></tr><br>
                  <input type="checkbox" name="optionOne"><br>
              {% endfor %}
                <div class="shelf">
                    <input type="submit" value="See my shelf">
                </div>
            </div>
        </form>
            <button type="button">Restart Search</button>
    </body>
</html>
