<!DOCTYPE html>
<html lang="eng">
    <meta charset="utf-8">
    <!--link to css file!-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='softwaredesign.css') }}" />
    <head>
        <title>Select your books</title>
    </head>
    <body class="nothome">
        <div class=tabs>
            <a href="homepage.html">Home</a>
            <a href="results.html" class="urhere">&#9758 My Shelf</a>
            <a href="data.html"> About the data</a>
        </div>
        <h1>WeeeRead</h1>
        <h2>Find your next favorite books</h2>
        <h3 class="pagetitle">Please select the books of your hearts desire: </h3>
        <form>
            <div class="findbooks">
              <!-- We would love to make this form be 45 pixels further to the right pls -->
            <br>
            <br>

              {% for book in books %}
                  <tr><td><i>{{ book.title }}</i></td>, by <td>{{ book.author }}</td></tr><br>
                  <input type="checkbox" name=book.optionNum><br>
              {% endfor %}
                <div class="shelf">
                    <input type="submit" value="See my shelf">
                </div>
            </div>
        </form>
            <button type="button">Restart Search</button>
    </body>
</html>
