html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* added the following */

p {
    font-family: Georgia;
    color: #1e3f5a;
}

div.question {
    color: "azure";
    font-weight: bold;
}

h1 {
    margin-top: 8px;
    margin-left: 45px;
    font-size: 52px;
    color: rgba(245, 226, 189, 0.7);
    font-family: georgia;
}

h2 {
    margin-left: 50px;
    font-style: italic;
    font-family: optima;
    font-size: 23px;
    color: #1e3f5a;
    
}

h3 {
    margin-left: 45px;      
    font-size: 32px;
    color: #f5e2bd;
    font-family: optima;
}

h4 {
    font-weight: bold;
    font-family: Georgia;
}

div.findbooks {
  display: block;
  font-family: Georgia;
  color: #1e3f5a;
  padding: 45px;
  width: 55%;
  left: 70%;
  
}

div.content {
    background: rgba(255, 255, 255, 0.4);
    width: 50%;
    float: right;
    margin-right: 3%;
    padding: 1%;
}

div.msgandcontent {
    width: 50%;
    float: right;
    margin-right: 3%;
    padding: 1%;
}
div.aboutcontent{
    background: rgba(255, 255, 255, 0.4);
    width: 55%;
    float: left;
    margin-left: 3%;
    margin-top: 20px;
    padding: 3%;
    line-height: 1.4;
    font-size: 20px;
    
    
}

table {
    background: rgba(255, 255, 255, 0.4);
    width: 55%;
    float: left;
    margin-left: 3%;
    margin-top: 30px;
    padding: 10%;
    border-spacing: 1px;
}

td {
    padding: 20px;
    line-height 1.8;
    text-align:center;
}


.tabs {
    background: #1e3f5a;
    padding: 17px;
    
}

.tabs a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    font-family: Georgia;
    margin-left: 20px;
}

button {
    display:block;
    position:absolute;
    left:45%;
    margin-top:35%;
    font-size: 20px;
    font-family: georgia;
    padding: 10px 24px;
    background-color: #1e3f5a;
    color: #f5e2bd;
}
button:hover {
    background-color: #3978AC;
    color:#f5e2bd;
}
body.nothome {
    background-image:url("datapagebg.png");
}
body {
  /* The image used */
  background: rgb(0, 0, 0);
  background-image: url("homebackground.png");


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:link {
    color: #3978ac;
}

.form-submit-button {
    background:#1e3f5a;
    color: #f5e2bd;
}